html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #e0e0e0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14px;
}

.intro {
    padding: 10px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table img {
    width: 100%;
    height: auto;
}

th, td {
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

th {
    font-size: 18px;
}

td {
    font-size: 14px;
}

@media (max-width: 768px) {
    table img {
        width: 80px;
        height: auto;
    }

    th, td {
        font-size: 12px;
        padding: 3px;
    }

    th {
        font-size: 14px;
    }
}
